#proimage{
    object-fit: cover;
}

#prof:hover{
    object-fit: cover;
    border-radius: 30px;
}

#left-half{
    height: 100%;
    overflow-y:hidden;
    position: fixed;
    bottom: 0;
    height: 100vh;

}
#left-half h2{
    display: inline-block;         
}